body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

.general-info {
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 5px #88888846;
    padding: 10px;
}

.general-info.incomes {
    margin: 0 20px 0 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0 1.5rem 0;
}

h5 {
    color: var(--second-color-light);
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0.8rem 0;
}

.general-value {
    color: black;
    font-size: 1.4rem;
    margin-top: -1rem;
    font-weight: 600;
}

.general-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_icon {
    font-size: 2rem;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 50%;
}

.charts-info {
    margin-top: 4rem;
}

.charts-info h3 {
    color: var(--second-color-light);
    font-size: 1.3rem;
    font-weight: 100;
}

.chart-box {
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 5px #88888846;
    padding: 10px;
}