body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

.general-info.incomes {
    margin: 0 20px 0 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0 1.5rem 0;
}

.general-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.charts-info {
    margin-top: 4rem;
}

.charts-info h3 {
    color: var(--second-color-light);
    font-size: 1.3rem;
    font-weight: 100;
}

.chart-box {
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 5px #88888846;
    padding: 10px;
}

.creditBox {
    padding: 25px;
}

#creditText {
    text-align: justify;
    padding: 25px;
    font-size: 1.1rem;
}

#creditLink {
    color: var(--first-color);
}

#creditLink:hover {
    color: rgba(33, 44, 148, 0.644);
}

.creditSocial {
    font-size: 2.2rem;
    display: flex;
    justify-content: flex-end;
}

.creditSocial i {
    cursor: pointer;
    padding-left: 10px;
    color: var(--first-color);
}

.creditSocial i:hover {
    color: rgba(33, 44, 148, 0.644);
}